# Directories to include
recursive-include ./bin *.py
recursive-include ./lib *.json *.py upack.d/bin/*

# Files to include
include LICENSE
include README.md
include NOTICE
include Makefile
include install.sh
include requirements.txt

# Files to exclude
exclude MANIFEST.in
exclude setup.*

# Directories to exclude
recursive-exclude ppk.egg-info *

